/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0b0f16; /*  dark blue */
    color: #dbe8ff;      /* soft blue  */
    line-height: 1.5;
}

/* Header */
header {
    background: #0e1624;
    color: #4da6ff; /* neon blue */
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #1e2b40;
}

nav a {
    color: #79b7ff;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    color: #b3d7ff;
}

/* Sections */
section {
    max-width: 800px;
    margin: 25px auto;
    background: #101827; /* card-like dark blue */
    padding: 20px;
    border: 1px solid #1f2e45;
    border-radius: 5px;
}

h2 {
    color: #5db0ff;
    margin-bottom: 10px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    color: #dbe8ff;
}

th, td {
    border: 1px solid #1f2e45;
    padding: 10px;
}

th {
    background: #182235;
}

/* Images */
.project-img {
    width: 100%;
    max-width: 280px;
    border: 1px solid #1f2e45;
    border-radius: 4px;
    margin-top: 10px;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input, textarea {
    padding: 10px;
    background: #0e1624;
    border: 1px solid #1f2e45;
    color: #dbe8ff;
    border-radius: 4px;
}

button {
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #1e4fb8;
}

/* Footer */
footer {
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    background: #0e1624;
    border-top: 1px solid #1e2b40;
    color: #79b7ff;
}

/* Lists */
ul {
    margin-left: 18px;
    margin-top: 10px;
}

ul li {
    margin-bottom: 6px;
}
